@media screen and (max-width: 250px) {
    /* CSS-стили */
    .upcom_ul_row {flex-wrap: wrap; height: auto;flex-direction: column;}
    .upcom_ul_box_links_text {
        margin-top: 0;

    }
    ul.upcom_ul_box_links_text li {
    display: inline;

    }
    .upcom_div_box_links_img {
        /* margin-left: auto;
        margin-right: auto; */
        margin: 0;
    }

    .upcom_ul_box_text_name {
        position: static;
    }

    .upcom_ul_links_text {
        margin-top: 15px;
    }

    .upcom_li_box_links_img {
        margin-right: auto;
    }
    .upcom_text_h12 {
        /* text-align: right; */
        text-align: center;
    }
}

@media screen and (min-width: 250px) and (max-width: 950px) {
    /* CSS-стили */
    .upcom_ul_row {flex-wrap: wrap; height: auto;flex-direction: column;}
    .upcom_ul_box_links_text {
        margin-top: 0;

    }
    ul.upcom_ul_box_links_text li {
    display: inline;

    }
    .upcom_div_box_links_img {
        /* margin-left: auto;
        margin-right: auto; */
        margin: 0 auto;
    }

    .upcom_ul_box_text_name {
        position: static;
        margin: 0 auto;
    }

    .upcom_ul_links_text {
        margin-top: 15px;
    }
    .upcom_name_h1 {
        text-align: center;
    }
    .upcom_name_h2 {
        text-align: center;
    }
    .upcom_li_box_links_img {
        margin-right: auto;
    }
    /* .upcom_name_h1 {
        font-size: 26pt;
    }
    
    .upcom_name_h2 {
        font-size: 22pt;

    } */
    .upcom_text_h12 {
        /* text-align: right; */
        text-align: center;
    }
}
@media screen and (min-width: 950px) {
    /* CSS-стили */
    .upcom_ul_row {
        flex-wrap: nowrap; 
        height: 200px;
        flex-direction: row; 
    }

    .upcom_ul_box_links_text {
        margin-top: max(100px, 4vw);
    }

    .upcom_div_box_links_img {
        margin-left: auto;
        margin-right: 0;
    }

    .upcom_ul_box_text_name {
        position: absolute;
        margin-top: 52px;
        /* position: absolute; */
        margin-left: 0px;
        margin-right: auto;
    }

    ul.upcom_ul_row li.upcom_ul_row_li {
        display: inline;
    }

    .upcom_li_box_links_img {
     
        margin-right: 5px;

    }

    /* .upcom_name_h1 {
        font-size: 26pt;
    }
    
    .upcom_name_h2 {
        font-size: 22pt;
    } */
    .upcom_text_h12 {
        text-align: right;
        /* text-align: center; */
    }
}

.upcom_body {
    width: 90%;
    margin: 0 auto;
    
}

.upcom_ul_row {
    padding-left: 0;
    display: flex;
    /* flex-direction: row;
    flex-wrap: nowrap; */
    align-items: stretch;
    justify-content: center;
    /* height: 200px; */
    width: 100%;
}

.upcom_ul_row_li {
    /* display: inline; */
    height: 100%;
    width: 100%;
}

ul.upcom_ul_row li.upcom_ul_row_li {
    /* display: inline; */
    height: 100%;
    
}


.upcom_ul_column {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: stretch;
}

.upcom_ul_logo {
    /* width: 200px; */
    /* max-width: 200px; */
    margin: 0 auto;
    max-width: 200px;
    width: calc(100px + 7vw);
}
.upcom_logo {
    max-width: 200px;
    width: calc(100px + 7vw);
    margin: 0 auto;

}

.upcom_ul_text_name {
    flex-basis: 60%;
    /* width: 350px; */
    /* position: absolute;
    margin-left: 15px;
    margin-right: auto; */
}

.upcom_ul_box_text_name {
    
    padding: 0;
    width: 350px;
}

.upcom_ul_links_text {
    flex-basis: 40%;
}

.upcom_ul_box_links_text {
    /* margin-top: max(100px, 4vw); */
    /* bottom: 0px; */
    /* position: absolute; */
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.upcom_li_box_links_img {
    /* margin-left: auto;
    margin-right: 0; */

    /* flex-direction: column;
    align-content: stretch;
    justify-content: flex-end; */
    height: 4%;
    max-height: 80px;
    /* margin-right: 5px; */
    margin-left: auto;
}

.upcom_div_box_links_img {
    width: 152px;
    right:0px;
    /* margin-left: auto;
    margin-right: 0;  */
}

.upcom_links_img {
    padding: 6px;
    transition: 1s;
    max-width: 64px;
    height: auto;
    /* width: calc(10px + 4vw); */
}

.upcom_links_img:hover {
    transform: scale(1.1);
    background:rgb(255, 255, 255);
    opacity:0.6;
}
.upcom_links_img:active {
    background:rgb(255, 255, 255);
    opacity:0.4;
}
  

li {
    list-style-type: none;
    padding: 0;
    /* Убираем маркеры */
}

.upcom_name_h1 {
    /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Sansation Light', serif;
    font-size: 26pt;
}

.upcom_name_h2 {
    /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Sansation Light', serif;
    font-size: 22pt;
}

.upcom_text_h12 {
    /* text-align: right; */
    /* text-align: center; */
    /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Sansation Light', serif;
    font-size: 21pt;
    height: auto;
    width: 362px;
    margin-right: 0;
    margin-left: auto;
}